<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>

  <title>Catalog</title>

  <link rel="icon" type="image/png" th:href="@{/static/favicon.ico}"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Answers)}"/>

<div class="container">
  <br>
  <h1 th:text="'Your Answers:'"/>
  <br/>
  <table th:if="${questionsAnswers.size() > 0}" class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>№</th>
      <th>Quiz</th>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionAnswer, itrStat : ${questionsAnswers}">
      <td th:text="${itrStat.index + 1}"/>
      <td th:text="${questionAnswer.getQuiz().getQuizName()}"/>
      <td th:text="${questionAnswer.getQuestion().getTitle()}"/>
      <td th:text="${questionAnswer.getAnswer().getTitle()}"/>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>